.hiro {
  margin-top: 150px;

  &__div {
    text-align: center;

    &_title {
      margin: 0 auto;
      font-weight: 700;
      font-size: 45px;
      line-height: 55px;
      color: #0a033c;
      width: 556px;
      padding-bottom: 20px;
    }

    &_text {
      margin-top: 20px;
      margin: 0 auto;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      color: #5d5a6f;
      width: 840px;
    }

    &_btn {
      margin-top: 20px;
      border: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
      width: 162px;
      height: 60px;
      background: #9c4df4;
      border-radius: 10px;

      &:hover {
        border: none;
        background: #a86eeb;
      }

      &:active {
        border: 2px solid #9c4df4;
        background: none;
        transition: all 0.1s;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -ms-transition: all 0.1s;
        -o-transition: all 0.1s;
      }
    }

    &_wrap {
      align-items: center;
      &--ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        flex-wrap: wrap;
        &-list {
          list-style-type: none;
          display: flex;
          align-items: center;
          width: 241px;
          height: 84px;
          background: #FFFFFF;
          border-radius: 10px;
          margin-bottom: 20px;
        }
      }
    }
  }
}



// RESPONSIVE

@media only screen and (max-width:992px) {

  .hiro {
    margin-top: 100px;

    &__div {
      text-align: center;

      &_title {
        margin: 0 auto;
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        color: #0a033c;
        width: 556px;
        padding-bottom: 20px;
      }

      &_text {
        margin-top: 20px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #5d5a6f;
        width: 640px;
      }
    }
  }

}

@media only screen and (max-width:792px) {
  .hiro {
    margin-top: 50px;

    &__div {
      text-align: center;

      &_title {
        margin: 0 auto;
        font-weight: 700;
        font-size: 35px;
        line-height: 55px;
        color: #0a033c;
        width: 440px;
        padding-bottom: 20px;
      }

      &_text {
        margin-top: 20px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #5d5a6f;
        width: 440px;
      }
    }
  }

}

@media only screen and (max-width:768px) {

  .hiro {
    margin-top: 50px;

    &__div {
      text-align: center;

      &_title {
        margin: 0 auto;
        font-weight: 700;
        font-size: 35px;
        line-height: 45px;
        color: #0a033c;
        width: 440px;
        padding-bottom: 20px;
      }

      &_text {
        padding: 0 20px;
        margin-top: 20px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #5d5a6f;
        width: 100%;
      }
  
    }
  }

}

@media only screen and (max-width:576px) {

  .hiro {
    margin-top: 50px;

    &__div {
      text-align: center;

      &_title {
        margin: 0 auto;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #0a033c;
        width: 100%;
        padding: 20px;
      }

      &_text {
        padding: 0 20px;
        margin-top: 20px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #5d5a6f;
        width: 100%;
      }
   
    }
  }

}